<form #form="ngForm" (ngSubmit)="submit(form)">
  <div class="form-group">
    <label for="firstName">first name</label>
    <input
      name="firstName"
      id="firstName"
      required
      minlength="3"
      maxlength="10"
      #firstName="ngModel"
      ngModel
      type="text"
      class="form-control mb-3"
    />
    <div
      *ngIf="firstName.touched && !firstName.valid"
      class="alert alert-danger"
    >
      <div *ngIf="firstName.errors?.['required']">First name is required</div>
      <div *ngIf="firstName.errors?.['maxlength']">
        First name should be of maximum 10 characters
      </div>
      <div *ngIf="firstName.errors?.['minlength']">
        First name should be of minimum 3 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">comment</label>
    <textarea
      name="comment"
      required
      type="text"
      class="form-control mb-3"
      id="comment"
      rows="4"
      ngModel
      #comment="ngModel"
    ></textarea>
    <div *ngIf="comment.touched && comment.invalid" class="alert alert-danger">
      Comment is required
    </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed" /> Subscribe to mailing
      list
    </label>
  </div>

  <div class="form-group  mb-4">
    <label for="contactMethod"> </label>
    <select
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option value="">Select method</option>
      <option *ngFor="let method of contactMethods" [ngValue]="method">
        {{ method.name }}
      </option>
    </select>
  </div>

  <div *ngFor="let method of contactMethods" class="radio">
    <label>
      <input  ngModel type="radio" name="contactMethod" [value]="method.id" />{{method.name}}
    </label>
   
  </div>

  <!-- <p>{{ form.value | json }}</p> -->

  <button class="btn btn-primary mt-3" [disabled]="form.invalid">Submit</button>
</form>
