<!-- <contact-form></contact-form> -->
<!-- <signup-form></signup-form> -->
<!-- <new-course-form></new-course-form> -->
<posts></posts>

<!-- <favorite [isLiked]="post.isFavorite" (change)="onFavoriteChange($event)">
</favorite> -->

<!-- <ul class="nav nav-tabs">
  <li [class.active]="viewMode==='map'"><a (click)="viewMode='map'" href="#">Map view</a></li>
  <li [class.active]="viewMode==='list'"><a  (click)="viewMode='list'" href="#">List view</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map view content</div>
  <div *ngSwitchCase="'list'">List view content</div>
  <div *ngSwitchDefault>Other view</div>
</div> -->

<!-- <input type="text"  [appInputFormat]="'uppercase'" > -->